@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title - About Ricky's ElevenNote</h2>
<h3>@ViewBag.Message - A safe place to save notes.</h3>

<p>This is an application to create and save Notes in a database.</p>
