@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title - Reach Out!</h2>
<h3>@ViewBag.Message - If you have errors, issues, or compliments to the chef, reach out and let us know!</h3>

<address>
    261 S Emerson Ave<br />
    Indianapolis, IN 46219<br />
    <abbr title="Phone">P:</abbr>
    814.490.5641
</address>

<address>
    <strong>Work:</strong>   <a href="mailto:randerson@argonapartners.com">Randerson@argonapartners.com</a><br />
    <strong>Personal:</strong> <a href="mailto:14andersonr@gmail.com">14andersonr@gmail.com</a>
</address>