@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ricky's ElevenNote</h1>
    <p class="lead">Use this application to create and save notes in a database.</p>
    <p><a href="https://github.com/14andersonr/ElevenNote.WebAPI" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find the Code</h2>
        <p>
            Click here to go to GitHub and read over the code that makes this application work!
        </p>
        <p><a class="btn btn-default" href="https://github.com/14andersonr/ElevenNote.WebAPI">GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find Out More About ASP.NET</h2>
        <p>Click below to learn more about the .NET Framework used to construct this application.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact the Developer</h2>
        <p>Reach out if you have any questions or concerns!</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/richard-anderson-iii/">LinkedIn &raquo;</a></p>
    </div>
</div>